// *******************************************************
// Colours Style Guide
// -------------------------------------------------------
// This file contains the different colours and their names
// that are used across the application
//
// How To Use:
// Import this file into your required SCSS file and use
// the map to generate the required styling,
//
// First Colour: The base colour
// Second Colour: The highlight/hover for the base colour
// -------------------------------------------

// *******************************************
// Style Implementation
// -------------------------------------------
$colors: (
    red: (red, darkred),
    blue: (blue, darkblue),
    green: (green, darkgreen),
    orange: (orange, darkorange),
    pink: (pink, deeppink),
    transparentBlack100: (#000000FF, #000000FF),
    transparentBlack90: (#000000E6, #000000E6),
    transparentBlack80: (#000000CC, #000000CC),
    transparentBlack70: (#000000B3, #000000B3),
    transparentBlack60: (#00000099, #00000099),
    transparentBlack50: (#00000080, #00000080),
    transparentBlack40: (#00000066, #00000066),
    transparentBlack30: (#0000004D, #0000004D),
    transparentBlack20: (#00000033, #00000033),
    transparentBlack10: (#0000001A, #0000001A),
    transparentBlack0: (#00000000, #00000000),
    white: (#fff, #fff),
    black: (#000, #000),
    link: (#4988ed, #3869b7)
);

:export {
    red: red;
    blue: blue;
    green: green;
    orange: orange;
    pink: pink;
}
// --------------------------------
